[submodule "vendor/volk"]
	path = vendor/volk
	url = https://github.com/gnuradio/volk.git
[submodule "vendor/sdrplusplus"]
	path = vendor/sdrplusplus
	url = https://github.com/AlexandreRouma/SDRPlusPlus
[submodule "vendor/DAB-Radio"]
	path = vendor/DAB-Radio
	url = https://github.com/FiendChain/DAB-Radio
[submodule "vendor/libcorrect"]
	path = vendor/libcorrect
	url = https://github.com/FiendChain/libcorrect
